@charset "shift-jis";
/* 2013-04-04 */
body
{
    font-size:100%;
    line-height:260%;
    letter-spacing:0.1em;
    font-family:'‚l‚r ‚oƒSƒVƒbƒN','Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro',Osaka;
}
a
{
    text-decoration:none;
    color:currentColor;
}
a img
{
    text-decoration:none;
    border-style:none;
}
span.ja
{
    font-family:'‚l‚r ‚oƒSƒVƒbƒN','Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro',Osaka;
}

table, table > tbody > tr > td
{
    font-size:100%;
}

h1 { margin-top:20px;line-height:260%;clear:both;font-size:160%;}
h2 { margin-top:10px;line-height:260%;clear:both;font-size:140%;}
h3 { margin-top:10px;line-height:260%;clear:both;font-size:120%;}
h4 { margin-top:10px;line-height:260%;clear:both;font-size:110%;}
h5 { margin-top:10px;line-height:260%;clear:both;font-size:100%;}
h6 { margin-top:10px;line-height:260%;clear:both;font-size:100%;}

p
{
    margin-top:0.6em;
    margin-bottom:0.6em;
	line-break:strict;
	clear:both;
}

ruby
{
    line-height:1.5;
    background-color:inherit;
}
rb, rt
{
    background-color:inherit;
}
rt
{
    font-size:60%;
}

span.box
{
    border:solid 1pt currentColor;
}
img.math
{
    vertical-align:middle;
    margin:0;
    padding:0;
    border:none;
}
img.math_h
{
    vertical-align:top;
    margin:0;
    padding:0;
    border:none;
}
/* ----------------------------------------------------------- */
img.image
{
    padding:4px;
    background-color:inherit;
}
img.imageLeft
{
    float: left;
    margin-right: 0.5em;
}
img.imageRight
{
    float: right;
    margin-left: 0.5em;
}
img.imageTextTop
{
    vertical-align: text-top;
}
img.imageMiddle
{
    vertical-align: middle;
}
img.imageBottom
{
    vertical-align: bottom;
}
/* ----------------------------------------------------------- */
span.boxstyle
{
    border:solid currentColor 1px;
    padding:3px 3px;
    margin:2px 2px;
}

span.allspaces
{
    font-family:'‚l‚r ƒSƒVƒbƒN';
}

table.infty
{
    border-collapse:collapse;
    border:0px;
    margin-top:5px;
    margin-bottom:0px;
    border:none;
    display:inline-table;
    font-size:100%;
    vertical-align:middle;
}
table.infty > tbody > tr > td
{
    font-size:100%;
    border:solid currentColor 1px;
    padding:0.2em 0.5em;
    white-space:nowrap;
    line-height:1.5;
}
table.infty > tbody > tr > td > span
{
    white-space:nowrap;
}
table.infty > tbody > tr > td ruby
{
    line-height:2em !important;
}


div.eqnarray
{
    vertical-align:top;
    display:block;
}

table.eqnarray
{
    border:none;
    padding:0;
    margin:0;
    display:inline-table;
    vertical-align:top;
}

td.eqnarray
{
    padding:0;
    border:none;
    white-space:nowrap;
    border-top-style:solid;
    border-top-width:0.35em;
    border-top-color:transparent;
    vertical-align:middle;
}

table.eqnarray tr:first-child td.eqnarray
{
    border-top-width:0;
    border-top-style:none;
}

td.equationnumbers
{
    padding:0;
    border:none;
    width:6em;
    text-align:right;
    font-size:12pt;
    white-space:nowrap;
}
u
{
    text-decoration:none;
    border-bottom:solid 1px currentColor;
}
u > span.underline
{
    display:inline-block;
}
/* ----------------------------------------------------------- */
p.matharray
{
	display:inline;
}
div.matharray
{
	display:inline-block;
	vertical-align:middle;
}
table.matharray
{
	display:inline-table;
    margin:0.25em 0;
	vertical-align:middle;
    border-collapse:collapse;
    border:solid 1px transparent;
    background-color:transparent;
}
table.matharray td
{
    white-space:nowrap;
    text-align:center;
    vertical-align:middle;
    padding-top:0;
    padding-bottom:0;
    padding-right:0;
    line-height:0.5em;
    border:none 1px transparent;
    background-color:transparent;
}
table.matharray td span
{
    padding:0;
    margin:0;
}
.matharrayleft
{
    text-align:left !important;
    padding-left:0;
}
.matharraybegin, .matharrayend
{
    margin:0;
    padding:0;
}
.matharrayend img.math
{
}

table.matharray td.matharraymiddle, table.matharray td.matharrayright
{
    padding-left:1.5em;
}
table[class=matharray] td
{
    text-align:left;
}
table[class=matharray] td svg.math
{
    margin:0;
    padding:0.25em 0;
}
/* ---------------------------------------------------- */

table.hissan td, table.division td 
{
    margin:0;
    padding:0;
    text-indent:0;
    line-height:1.2em;
}
table.hissan td
{
    text-align:right !important;
}

table.hissan td span
{
    line-height:1.3em !important;
}

table.division td 
{
    text-align:left;
    border-style:none;
    border-width:1px;
    border-color:transparent;
}
table.hissan td span.msp, table.division td span.msp, table.division td span.math_single
{
	padding:0;
}
table.hissan .hissan_operator
{
    vertical-align:bottom;
    padding-right:0pt;
}
table.hissan td.hissan_operator, table.hissan td.hissan_baseline
{
    border-bottom:solid 1px currentColor;
}
table.hissan td.hissan_step
{
    border-top:solid 1px currentColor;
}
/* ----------------------------------------------------------- */
/* ƒOƒ‹[ƒvƒ{ƒbƒNƒXƒXƒ^ƒCƒ‹ */
fieldset.inftyGroup, div.inftyGroup
{
    padding:0 1.5em;
}
fieldset.inftyGroup > legend
{
    padding:0 0.25em;
}
fieldset.inftyGroup > p:nth-of-type(1)
{
    margin-top:0em;
}
/* ----------------------------------------------------------- */
/* ƒŠƒXƒgƒXƒ^ƒCƒ‹ */
dl.infty_dl > dt
{
    font-weight:normal;
    margin:0 0 0 0.5em;
    padding:0;
    float:left;
}
dl.infty_dl > dd
{
    margin-bottom:0.5em;
}
/* ----------------------------------------------------------- */
