---
---

// Breakpoints
//$large-breakpoint: 64em !default;
$large-breakpoint: 48em;
//$medium-breakpoint: 42em !default;

// Headers
//$header-heading-color: #fff !default;
//$header-bg-color: #159957 !default;
$header-bg-color: #DB5D57;
//$header-bg-color-secondary: #155799 !default;
$header-bg-color-secondary: #DDBB55;

// Text
//$section-headings-color: #159957 !default;
$section-headings-color: #DB5D57;
//$body-text-color: #606c71 !default;
$body-text-color: #3E474B;
//$body-link-color: #1e6bb8 !default;
//$blockquote-text-color: #819198 !default;
$blockquote-text-color: #3A4E56;

// Code
//$code-bg-color: #f3f6fa !default;
//$code-text-color: #567482 !default;

// Borders
//$border-color: #dce6f0 !default;
//$table-border-color: #e9ebec !default;
//$hr-border-color: #eff0f1 !default;

@import "{{ site.theme }}";

body {
  background-color: $header-bg-color;
  background-image: linear-gradient(-90deg, $header-bg-color-secondary, $header-bg-color);
}

//larger font in narrow screen disabled for IE
//padding-bottom for IE
.main-content {
   position: absolute;
   top: 2em;
   right: 1em;
   left: 1em;
   padding-top: 4em;
   padding-bottom: 4em;
   margin-bottom: 2em;
   background: rgba(255, 255, 255, .90);
   z-index: -1;
   max-width: 48rem;
//   font-size: calc(125% - 0.3vw);
}
//.main-content h1 {
//   font-size: calc(150% + 1.5vw)
//}

//reading aloud: modified from https://github.com/westonruter/html5-audio-read-along
.controller {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
margin-left: auto;
   margin-right: auto;
   min-height: 10em;
   max-width: 46em;
   background: rgba(255, 255, 255, .90);
   border-color: aaa;
   border-width: 3px;
   border-style: outset;
}
.passage-audio {
    height: 2em;
}
#passage-audio {
    width: 100%;
    max-height: 2em;
}
#passage-text {
    margin-top: 10em;
}
#passage-text.speaking {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.autofocus-current-word,
.playback-rate {
    font-size: smaller;
    padding-bottom: 1em;
}
.autofocus-current-word label,
.playback-rate label {
    font-weight: bold;
}
//fix width of playback-rate indicator
.playback-rate {
    width: 20em;
    text-align: center;
}
.playback-rate #playback-slow {
    float: left;
}
.playback-rate #playback-rate {
    float: right;
}
#hayasa {
font-size: normal;
font-weight: bold;
}

q {
    quotes: "“" "”" "‘" "’";
}
.section-heading {
    display: none;
}
.passage p {
    line-height: 1.4em;
}
.verse-start {
    line-height: 0;
}
.initialized span[data-begin]:focus,
.initialized span[data-begin]:hover {
    background-color: #FFFFCA;
    box-shadow: 0px 0px 4px #FFFFCA;
}
.initialized span[data-begin].speaking {
    background-color: yellow;
    box-shadow: 0px 0px 4px yellow;
}
.initialized span[data-begin] {
    cursor: pointer;
}
//valid also for link
.initialized a[data-begin]:focus,
.initialized a[data-begin]:hover {
    background-color: #FFFFCA;
    box-shadow: 0px 0px 4px #FFFFCA;
}
.initialized a[data-begin].speaking {
    background-color: aqua;
    box-shadow: 0px 0px 4px aqua;
}
.initialized a[data-begin] {
    cursor: pointer;
}
.error {
    color: red;
}

//page navigation
 .nav {
   position: fixed;
   bottom: 2em;
   right: 0;
   left: 0;
   margin-left: auto;
   margin-right: auto;
   width: 20em;
   text-align: center;
 }
 .pglink {
   padding: 1em;
   background: rgba(255, 255, 255, .90);
   border-color: aaa;
   border-width: 3px;
   border-style: outset;
 }

//popup
    #parent {
      color: $body-link-color;
  }
    #parent #popup {
      display: none;
    }
    #parent:hover #popup {
      display: block;
      position: absolute;
      background: rgba(255, 255, 255, .90);
      border-color: aaa;
      border-width: 3px;
      border-style: outset;
      margin-right: 5em;
      padding: 1em;
    }

//arrange images
      .gyo {
        height: 1em;
	width: auto;
      }
      .hidari {
        clear: both;
        float: left;
	width: 30%;
	max-width: 5em;
	height: auto;
	margin:1em 1em 1em 0em;
      }
      .migi {
        clear: both;
        float: right;
	width: 30%;
	max-width: 5em;
	height: auto;
	margin:1em 0em 1em 1em;
      }
      .naka {
        clear: both;
        display: block;
        margin-left: auto;
        margin-right: auto;
	width: 80%;
	max-width: 25em;
	height: auto;
      }
      h1,h2,h3,h4,h5,h6 {
        clear: both;
      }

//ruby size in blockquote
    blockquote ruby {
      font-size: large;
      font-weight: bold;
    }
    blockquote rt {
      font-size: large;
      font-weight: normal;
    }

// haigou
      .haigo {
        clear: both;
	float: left;
	width: 20em;
	max-width: 100%;
	text-align:right;
	padding-bottom: 2em;
      }

// checkbox: modified from https://codepen.io/labithiotis/pen/byskq
// Variables
$toggle-enabled-bg: #0F4D9A;
$toggle-enabled-color: #ffffff;
$toggle-enabled-tab-bg: #FFFFFF;

$toggle-disabled-bg: #de474e;
$toggle-disabled-color: #ffffff;
$toggle-disabled-tab-bg: #FFFFFF;

/** EXAMPLE
  <label class="tgl">
    <input type="checkbox" />
    <span data-on="1" data-off="0"></span>
  </label>
**/

.tgl {

  position: relative;
  outline: 0;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  margin: 0 0 5px 0;

  // add default box-sizing for this scope
  &, &:after, &:before,
  & *, & *:after, & *:before,
  & + .tgl-btn {
    box-sizing: border-box;
    &::selection{
      background: none;
    }
  }

  span {
    position: relative;
    display: block;
    height: 1.8em;
    line-height: 1.2em;
    overflow: hidden;
    font-weight: normal;
    text-align: center;
    border-radius: 2em;
    padding: 0.2em 1em;
    border: 1px solid darken($toggle-enabled-tab-bg, 2);
    box-shadow:
    inset 0 2px 0 rgba(0,0,0,.2),
    0 2px 0 rgba(255,255,255,0.7);

    transition:
      color 0.3s ease,
      padding 0.3s ease-in-out,
      background 0.3s ease-in-out;

    &:before {
      position: relative;
      display: block;
      line-height: 1.3em;
      padding: 0 0.2em;
      font-size: 1em;
    }

    &:after {
      position: absolute;
      display: block;
      content: '';
      border-radius: 2em;
      width: 1.3em;
      height: 1.3em;
      margin-left: -1.45em;
      top: 0.2em;
      background: $toggle-enabled-tab-bg;
      transition:
        left 0.3s cubic-bezier( 0.175, 0.885, 0.320, 0.97 ),
        background 0.3s ease-in-out;  

    }

  }

  input[type="checkbox"]{

    display: none !important;

    // Off
    &:not(:checked) {
      + span {
        background: $toggle-disabled-bg;
        color: $toggle-disabled-color;
        padding-left: 1.6em;
        padding-right: 0.4em;
        &:before {
          content: attr(data-off);
          color: $toggle-disabled-color;
        }
        &:after {
          background: $toggle-disabled-tab-bg;
          left: 1.6em;
        }
      }
    }

    // On
    &:checked {
      + span {
        background: $toggle-enabled-bg;
        color: $toggle-enabled-color;
        padding-left: 0.4em;
        padding-right: 1.6em;
        &:before {
          content: attr(data-on);
        }
        &:after {
          background: $toggle-enabled-tab-bg;
          left: 100%;
        }
      }
    }
    
    // Disabled
    &:disabled, &:disabled + span, &:read-only, &:read-only + span {
      cursor: not-allowed;
    }

  }

}

.tgl-gray {
  input[type="checkbox"]{
    &:not(:checked) {
      + span {
        background: lighten(desaturate($toggle-enabled-bg, 100%), 20%);
        color: darken(desaturate($toggle-disabled-color, 100%), 0%);
        &:before {
          color: darken(desaturate($toggle-disabled-color, 100%), 0%);
        }
        &:after {
          background: desaturate($toggle-disabled-tab-bg, 100%);
        }
      }
    }
  }
}

.tgl-inline {
  display: inline-block !important;
  vertical-align: top;

  &.tgl {
    font-size: 16px;
    span {
      min-width: 50px;
      &:before {
        line-height: 1.4em;
        padding-left: 0.4em;
        padding-right: 0.4em;
      }
    }
  }
  
}

.tgl-inline-label {
  display: inline-block !important;
  vertical-align: top;
  line-height: 26px;
}

